Django==6.0.5
djangorestframework==3.17.1
firebase-admin==7.4.0
PyJWT==2.13.0
bcrypt==5.0.0
python-dotenv==1.2.2
requests==2.34.2
librouteros==4.0.1
dj-database-url==3.0.1
psycopg2-binary==2.9.10
django-redis==6.0.0
redis==5.2.1
celery[redis]==5.4.0
gevent==24.11.1
whitenoise==6.8.2
